{% extends 'AnfisaQuery/base.html' %}


{% block title %}
Запросы
{% endblock %}

{% block content %}

<form method="post">
{% csrf_token %}
{{ form.query }}




<br>
    <br>

    <button class="btn btn-primary" type="submit">Задать вопрос</button>
<br>
    <br>
<span>{{ error }}</span>
</form>
{% for el in queries %}
<div class='alert alert-secondary'>

      <p id="left-field">

           {{ el.query}}</p>


    </div>


{%endfor%}

{% if answer != 'ответ'%}:

<div class='alert alert-primary'>
      <p id="right-field">

          {{ answer }} </p>


    </div>


 {% endif %}






<div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://getbootstrap.com/docs/5.3/examples/features/unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Здесь вы можете задавать вопросы как Анфисе, так и своим друзьям.</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">

              </li>
              <li class="d-flex align-items-center me-3">


              </li>
              <li class="d-flex align-items-center">


              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://getbootstrap.com/docs/5.3/examples/features/unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">У Анфисы можно спросить: "Анфиса,сколько у меня друзей?","Анфиса,кто мои друзья?" и "Анфиса,где мои друзья?"</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">

              </li>
              <li class="d-flex align-items-center me-3">


              </li>
              <li class="d-flex align-items-center">


              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://getbootstrap.com/docs/5.3/examples/features/unsplash-photo-1.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Друзьям можно задать вопросы:"Алексей, ты где?","Петя, как погода?" или "Вася, который час?"</h3>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">

              </li>
              <li class="d-flex align-items-center me-3">


              </li>
              <li class="d-flex align-items-center">


              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

{% endblock %}


{% block activeindex%}"nav-link"
{% endblock %}

{% block activelogin%}"nav-link"
{% endblock %}

{% block activeabout%}"nav-link"
{% endblock %}
